/*
.html {
    background-color: black;
    padding: 50px;
    height: 100%;
}*/
body {
    background-color: #e5e7eb;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Roboto, arial;
}

.container {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    background-color: #1f2937;
    margin-left: 50px;
}

.header-menu {
    display: flex;
    flex-direction: row;
    padding: 10px 0px 20px 50px;
    align-items: center;
}

.header-logo img {
    width: 90px;
    height: auto;
    margin-right: auto;
}

.header-links {
    font-size: 18px;
    margin-left: auto;
    padding: 0px 100px 0px 0px;  
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.header-links a {
    color: #f9faf8;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.about-me {
    display: flex;
    align-items: left;
    justify-content: space-between;
    
}

.about-me-text {
    font-size: 48px;
    font-weight: extra-bold;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    padding-left: 20px;
}

.about-me-text p {
    font-size: 18px;
}

.about-me-image {
    max-width: 100%;
    height: auto;
    margin-top: 50px;
    padding: 30px 100px 50px 20px;
    
}

button {
    background-color: #3882F60;
}