/*
.html {
    background-color: black;
    padding: 50px;
    height: 100%;
}*/

/* SETUP */
* {
    box-sizing: border-box;
}

header, footer, main {
    background-color: #1f2937;
    font-size: 18px;
    color: #f9faf8;
}
/*
section {
    border: 4px solid lime;
    
}
*/

/* STRUCTURE */
body {
    display: flex;
    flex-direction: column;
   /* border: 10px solid blue;*/
    min-height: 100vh;
}

main {
    flex-grow: 1;
    /*border: 10px solid pink;*/
}

inner-column {
    display: block;
    /*border: 4px solid orange;*/
    width: 90%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    
}

header inner-column {
    padding: 10px;
    
}

footer inner-column {
    padding: 10px;
    
}

.about-me-image {
    display: block;
    
}

img {
    display: block;
    width: 100%;
    height: auto;
    }

button {
    background-color: #3882F6;
    color: #e5e7eb;
    padding: 6px 20px;
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    border: none;
    text-align: center;
    margin: 2px 8px;
    border-radius: 4px;
}


body {
    background-color: #e5e7eb;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Roboto, arial;
}

.header-menu {
    display: flex;
    flex-direction: row;
    
    align-items: center;
}

.header-logo img {
    width: 90px;
    height: auto;
    margin-right: auto;
}

.header-links {
    color: #f9faf8;
    margin-left: auto;
    padding: 0px 100px 0px 0px;  
}

ul {
    list-style-type: none;
    display: flex;
    color: #f9faf8;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.header-links, p {
    
}


.header-links a {
    font-size: 18px;
    color: #f9faf8;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.about-me {
    display: block;
    background-color: #1f2937;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    
    
}

.about-me-text {
    
    display: block;
    
}

.about-me-text p {
    font-size: 18px;
}

.about-me-image {

}

@media (min-width: 700px) {
    .about-me {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .about-me :is(.about-me-text, .about-me-image) {
        flex-basis: 50%;
    }
}


